@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

.primary {
    background: linear-gradient(270deg, rgba(255, 205, 0, 1) 21%, rgba(0, 60, 171, 1) 41%, rgba(200, 16, 46, 1) 65%);
}

.center {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3em;
}

.elements {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.elements button {
    margin: 10px;
}