@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

@import url('../node_modules/@swimlane/ngx-datatable/themes/bootstrap.css');
@import url('../node_modules/@swimlane/ngx-datatable/themes/material.css');
@import url('../node_modules/@swimlane/ngx-datatable/themes/dark.css');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.center_text {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    color: #3b4ea0;
    padding-left: 60px;
}